<!doctype html>
<head>
  <title>{% if category %}{{ category }} - {% endif %}Left or Right</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Brawler:400" rel="stylesheet">

  <style>
    body {
    font-family: "Libre Franklin";
    }

.lean-container {
                font-family: Shrikhand;
                font-size: 3.3em;
                color: #FFFFFF;n
                border-radius: 50%;
                width: 2.2em;
                height: 2.2em;
                vertical-align: middle;
    padding-top: 0.3em;
}
    
  </style>
</head>
<body>
<div id="outer-container">

  <!-- Begin naviation -->

  <div id="nav-container" class='top-bar'>
  <ul class="dropdown menu" data-dropdown-menu data-click-open id="dropdown">
     <li><a href='{{ url_for("index") }}' style="font-weight: 900;">Home</a></li>
    <!----------------------------------------------------------------------------------------------------------------------------->
    <!-- <li> <a href="#">Topics</a>												 -->
    <!--   <\!-- Nested menu -\->												 -->
    <!--   <ul class="menu">													 -->
    <!-- 	{% for topic in categories %}											 -->
    <!-- 	<li class="is-submenu-item is-dropdown-submenu-item"><a href='/category/{{topic[0]}}/'>{{topic[1]}}</a></li>	 -->
    <!-- 	{% endfor %}													 -->
    <!--   </ul>														 -->
    <!-- 															 -->
    <!--   <\!-- End nested menu -\->												 -->
    <!-- </li>															 -->
    <!----------------------------------------------------------------------------------------------------------------------------->
  </ul>
  <!-- End full menu -->
  </div>
  <!-- End navigation -->
  <div class='grid-x text-center'>
    <div class='cell small-2'></div>
    <div class="cell small-8 preview-article">
      <div class='grid-x grid-padding-y'>

	<div class='cell small-12' ><h1 style="font-family: 'Alfa Slab One'; color: #FFF;">{{ page_header }}</h1></div>

	<div class='grid-x grid-margin-y'>
	{% for article in articles %}

	<div class='cell small-2'><div class='lean-container' style='background-color: #7ED'>?</div></div>
	<div class='cell small-8 text-left text-container'>
	  <div class="article-title"><a href='{{article["href"]}}' style="font-family: 'Alfa Slab One';": >{{article["title"]}}</a></div>
	  <div class="article-author"><a href='/columnist/{{article["encode_author"]}}'>- {{article["author"]}}</a></div>
	  <div class="article-preview"><p  style="font-family: 'Brawler';">{{article["text"]}}...</p></div>
	  <div class="form-wrapper">
	    <form action='{{ url_for("classify")}}' method="POST">
	      <fieldset class="" style="padding: 1.5em;">
		<input type="hidden" name="article_id" value='{{ article["id"] }}' id="article_id">
		<div class="grid-x">
		  <div class="cell medium-2">
		    <label for="leftlean">Left
		      <input class="" type="radio" name="classification" value="l" id="leftlean" required>
		    </label>
		  </div>
		  <div class="cell medium-2">
		    <label for="rightlean">Right
		      <input class="" type="radio" name="classification" value="r" id="rightlean" >
		    </label>
		  </div>
		  <div class="cell medium-2">
		    <label for="centerlean">Center
		      <input class="" type="radio" name="classification" value="c" id="centerlean" >
		    </label>
		  </div>
		  <div class="cell medium-4"></div>		  
		  <div class="cell medium-2">		  
		    <input type="submit"  value="submit" style="margin: 0;">
		  </div>
		</div>
	      </fieldset>
	    </form>
	  </div>

	</div>
	<div class="cell small-2"></div>

	<!-- closes grid-x -->
	
	{% endfor %}
	</div>	
      </div>
      <!-- closes grid-x -->
    </div>
    <!-- closes small-6 cell  -->

    <div class='cell small-2'></div>
  </div>
  
</div>

  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='foundation.js') }}"></script>
  <script> $(document).foundation(); </script>

</body>
</html>
